/* 
h1 - se puede utilizar directo la etiqueta que se quiere editar
.titulo - para etiquetas de tipo class
#titulo - para etiquetas de tipo id  
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body
{
    font-family: 'Poppins', sans-serif;
    background: rgb(125, 45, 179);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgb(51, 22, 155) 50%, rgb(37, 113, 43) 100%);
}

#seleccionar-mascota
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 10px;
    margin: 10px;
}

#titulo 
{
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 36px;
    width: 450px;
    height: 50px;
    background-color: #1A5F16;
    text-align: center;
}

.subtitulo
{
    color: #19dba4;
    font-size: 24px;
    text-align: center;
}

.tarjetas
{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon img
{
    width: 90px;
}

.tarjeta-de-mokepon:hover 
{
    cursor: pointer;
}

.tarjeta-de-mokepon
{
    color: white;
    width: 200px;
    height: 160px;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid #265723;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

input
{
    display: none;
}

#boton-mascotas
{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 4px solid rgb(97, 57, 34);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

#seleccionar-ataque
{
    flex-direction: column ;
    align-items: center;
}

.boton-de-ataque
{
    background-color: #19dba4;
    border-radius: 10px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    width: 100px;
    font-family: 'Poppins', sans-serif;
}

.boton-de-ataque:hover 
{
    cursor: pointer;
}

#mensajes
{
    width: 280px;
    background-color: rgb(218, 240, 157);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar
{
    border: none;
    color: rgb(179, 97, 22);
    font-family: 'Poppins', sans-serif;
}

#boton-reiniciar:hover 
{
    cursor: pointer;
}